<p class="alert" style="color: red;"><%= flash[:alert] if flash[:alert] %></p>
<p id="notice"><%= notice %></p>

<h1>Listing Mazes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Maze</th>
      <th>Start x</th>
      <th>Start y</th>
      <th>Stop x</th>
      <th>Stop y</th>
      <th>Wall</th>
      <th>Free step</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @mazes.each do |maze| %>
      <tr>
        <td><%= maze.name %></td>
        <td><%= maze.maze %></td>
        <td><%= maze.start_x %></td>
        <td><%= maze.start_y %></td>
        <td><%= maze.stop_x %></td>
        <td><%= maze.stop_y %></td>
        <td><%= maze.wall %></td>
        <td><%= link_to 'Show', maze %></td>
        <td><%= link_to 'Edit', edit_maze_path(maze) %></td>
        <td><%= link_to 'Destroy', maze, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Solve', solve_maze_path(maze) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maze', new_maze_path %>
