<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @maze.name %>
</p>
<p>
  <strong>Maze:</strong>
  <%= @maze.maze %>
</p>
<p>
  <strong>Start x:</strong>
  <%= @maze.start_x %>
</p>
<p>
  <strong>Start y:</strong>
  <%= @maze.start_y %>
</p>
<p>
  <strong>Stop x:</strong>
  <%= @maze.stop_x %>
</p>
<p>
  <strong>Stop y:</strong>
  <%= @maze.stop_y %>
</p>
<p>
  <strong>Wall:</strong>
  <%= @maze.wall %>
</p>
<%= link_to 'Edit', edit_maze_path(@maze) %> |
<%= link_to 'Back', mazes_path %>
